@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");

html {
	background-color: #dddddd;
}

#root {
	display: flex;
	align-items: center;
	height: 100vh;
}

.app {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
	width: 100%;
	margin-top: auto;
	margin-bottom: auto;
}

.calculator {
	height: 505px;
	width: 300px;
	box-shadow: 34px 34px 73px #8e8e8e, -34px -34px 73px #b2b2b2;
	border-radius: 30px;
}

.row {
	display: flex;
	width: 100%;
}

.button-wrapper {
	height: 75px;
	width: 75px;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(145deg, #ababab, #909090);
	color: #383838;
}

.operator {
	background: linear-gradient(145deg, #ffba00, #e69d00);
	color: #000000;
	font-weight: bold;
}

.quote {
	display: block;
	max-width: 50%;
	width: 50%;
	font-family: "Tangerine", cursive;
	font-size: 2rem;
}

.input {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100px;
	width: 90%;
	padding: 15px;
	font-weight: bold;
	font-size: 40px;
	color: rgb(66, 66, 66);
	background-color: #d8d8d8;
	border-radius: 30px 30px 0 0;
	overflow: hidden;
}

.clear-btn {
	width: 225px;
	border-radius: 0 0 0 30px;
}

.equal {
	border-radius: 0 0 30px 0;
}

.refresh {
	font-size: 0.8rem;
	background: transparent;
	border: none;
	font-family: "Courier New";
}
.refresh:hover {
	text-decoration: underline;
}
